body {
  height: 100vh;
}

.h1 {
  font-size: 2rem;
}

.header {
  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    &.active,
    &:hover {
      color: $white;
    }
  }
}

.breadcrumb {
  a {
    color: $success;
  }
}

.table {
  .thead-light th {
    border: 0;
    text-transform: uppercase;
  }
  tr td {
    border-top: 0;
    border-bottom: 1px solid $gray-300;
  }
  .desc i {
    font-size: 2.4rem;
  }
  .nav i{
    font-size: 1.2rem;
  }
}

.histogram {
  width: 110px;
  height: 43px;
}

.footer_top {
  .nav-link {
    color: $gray-600;
  }
}

.nav-link {
  color: $gray-500;
  &:hover {
    color: $gray-700;
  }
}
